:root {
    --header-height: 90px;
    --navbarleft-width-mobile: 3rem;
    --navbarleft-width: 12rem;
}

body {
    height: 100vh;
}

header {
    background-color: #F8F9FA;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
}

main {
    height: calc(100% - var(--header-height));
    display: flex;
}

main #left_nav {
    background: teal;
    height: 100%;
    width: var(--navbarleft-width);
}

main #center_content {
    height: 100%;
    width: calc(100% - var(--navbarleft-width));
    background: red;
}

.my_control_background {
    background-color: #E5E5E5;
}