:root {
    --header-height: 90px;
    --navbarleft-width-mobile: 3rem;
    --navbarleft-width: 10rem;
}

body {
    height: 100vh;
}

main {
    height: calc(100% - var(--header-height));
    display: flex;
}

/**************************** HEADER *******************************/

header {
    background-color: #F8F9FA;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
}

header img {
    width: 100%;
}

.my_control_background {
    background-color: #E5E5E5;
}

.fa-bell {
    color: #FF8F00;
}

/**************************** LEFT NAV *******************************/

main #left_nav {
    background: #051E34;
    height: 100%;
    width: var(--navbarleft-width);
    background-image: url(../img/sidebar-bg.png);
    color: white;
}

.fa-house{
    font-size: 20px;
}

/**************************** CENTER CONTENT *******************************/

main #center_content {
    height: 100%;
    width: calc(100% - var(--navbarleft-width));
    background: red;
    overflow: auto;
}

#my_background_cc {
    background-color: #1B72E8;
    color: white;
}

.my_badge_bg {
    background-color: #165BBA;
}


